@using Hyper_v_Web_Controller.Controllers
@{
    Layout = null;
}

<!DOCTYPE html>
<style>

</style>
<title>Навигационное меню</title>
<h1>Добро пожаловать в Hyper-V MEGAController!</h1>
<p></p>
@if (User.Identity.IsAuthenticated)
{
    <h2><a href="/Authentication/Logout">Выйти</a></h2>
    <p></p>
    @if (User.IsInRole("Admin"))
    {
        <h2><a href="/Authentication/RegisterUser">Регистрация нового пользователя</a></h2>
        <p></p>
    }
    <h2><a href="/HyperV/GetVMs">Управление созданными ВМ</a></h2>
    <p></p>
    <h2><a href="/HyperV/GetVMImages">Создание ВМ</a></h2>
    <p></p>

}
else
{
    <h2><a href="/Authentication/Login">Войти</a></h2>
}


