@{
    Layout = null;
}

<!DOCTYPE html>
<style>

</style>
<title>Навигационное меню</title>
<h1>Добро пожаловать в Hyper-V MEGAController!</h1>
<p></p>
<h2>Список возможных действий:</h2>
<p></p>
<h2><a href="/Authentication/Login">Войти</a></h2>
<p></p>
<h2><a href="/Authentication/Logout">Выйти</a></h2>
<p></p>
<h2><a href="/Authentication/RegisterUser">Регистрация</a></h2>
<p></p>
<h2><a href="/HyperV/CreateVM">Создание виртуальной машины</a></h2>
<p></p>
<h2><a href="/HyperV/GetVMs">Список созданных ВМ</a></h2>
<p></p>
<h2><a href="/HyperV/GetVMImages">Список доступных образов ВМ для клонирования</a></h2>
<p></p>