@using Hyper_v_Web_Controller.Models
@model List<VM> 
 

@foreach(VM vM in Model)
{
    @vM.VmName
    
    <form method="post" action="/HyperV/SwitchVMState">
        <input name="Id" value="@vM.Id" hidden="hidden"/>
        <input type="submit" value="Вкл/Выкл" /> 
    </form>
    <p></p>
}
<a href="/"><input type="button" value="Вернуться" /></a>