@using Hyper_v_Web_Controller.Models
@using System.Linq
@model List<VMImage>



<li>
    <form method="post" action="/HyperV/CreateVm">
        @Html.DropDownList("imageId",new SelectList(@Model,"Id","Name"))
        <input type="text" name="machineName" />
        <input type="submit" value="Создать" />
    </form>
</li>
