
<form method="post">
    <input type="text" name="login" placeholder="логин" />
    <input type="password" name="password" placeholder="пароль" />
    <input type="submit" value="Отправить" />
</form>