
<form method="post">
    <style>
     p {line-height: 0.1;}
    </style>
    <h1>Вход</h1>
    <h2>
    <p>
    Логин:</p>
    <p>
    <input type="text" name="login" placeholder="логин" /></p>
    <p>
    Пароль:</p>
    <p>
    <input type="password" name="password" placeholder="пароль" /></p>
    <p></p>
    <input type="submit" value="Войти" />
    <a href="/"><input type="button" value="Вернуться" /> </a>
    </h2>
</form>