
<form method="post">
    <input type="text" name="login" placeholder="логин" />
    <input type="password" name="password" placeholder="пароль" />
    <input id="role" name="roleId" type="radio" value="1" />
    <span>Админ</span> <br />
    <input id="role" name="roleId" type="radio" value="2" /> 
    <span>User</span> <br />
    <input type="submit" value="Создать" />
</form>